[submodule "part1/anecdotes"]
	path = part1/anecdotes
	url = https://github.com/kjj1998/anecdotes.git
[submodule "part1/courseinfo"]
	path = part1/courseinfo
	url = https://github.com/kjj1998/courseinfo.git
[submodule "part1/unicafe"]
	path = part1/unicafe
	url = https://github.com/kjj1998/unicafe.git
[submodule "part2/phonebook"]
	path = part2/phonebook
	url = https://github.com/kjj1998/phonebook.git
[submodule "part2/courseinfo-part2"]
	path = part2/courseinfo-part2
	url = https://github.com/kjj1998/courseinfo-part2.git
[submodule "part2/countrydata"]
	path = part2/countrydata
	url = https://github.com/kjj1998/countrydata.git
[submodule "part3/phonebook-frontend"]
	path = part3/phonebook-frontend
	url = https://github.com/kjj1998/phonebook-frontend.git
[submodule "part3/fullstackopen-phonebook-backend"]
	path = part3/fullstackopen-phonebook-backend
	url = https://github.com/kjj1998/fullstackopen-phonebook-backend.git
[submodule "part4/fullstackopen-phonebook-backend"]
	path = part4/fullstackopen-phonebook-backend
	url = https://github.com/kjj1998/fullstackopen-phonebook-backend.git
[submodule "part5/fullstackopen-blog-frontend"]
	path = part5/fullstackopen-blog-frontend
	url = https://github.com/kjj1998/fullstackopen-blog-frontend.git
